.flex-container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.flex-full-width {
	flex: 100%;
	padding-top : 1vh;
}

.word {
	padding-left: 2vw;
}

.button {
	margin-left: 2vw;
	float: right;
}

.linkButton {
	padding: 0px !important;
	margin-left: 2vw;
}

.stat{
	text-align: left;
}

.word-tested {
	color: yellow;
	font-weight: bold;
}

.flexLayout {
	display: flex;
}